/* body{
    background-image: url("apparel.png") ;
   height: 100vh;
} */
body{
    background-color: #1b244a;
    height: 100vh;
}
.king{
    text-align: center;
    margin-top: -4px;
    color: white;
    border-bottom: 2px solid;
    margin-bottom: 40px;
}

.counterapp{
   max-width: 60%;
   margin: auto;
   border: 2px solid white;
   border-radius: 10px;
   text-align: center;
}
span{
    color: red;
}
#savebutton{
    background-color: red;
    color: white;
}
margin-left: 35%;
margin-right: 35%;
padding: 10px;
border: 2px solid white;
border-radius: 10px;
text-align: center;

#score{
    background-color: #080001;
    color: white;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 70px;
    margin-top: -40px;
}
#homed{
    display: inline-block;
    padding: 50px;
    text-align: center;
}
.all{
    color: white;
    max-width: 80%;
   margin: auto;
}
.plus{
    background-color: #1b244a;
    border: 2px solid white;
    color: white;
}
